*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: khaki;
}
h1{
    font-size: 3em;
    text-align: center;
    color:red;
}
.container form{
	width: 60%;
	margin:auto;
    margin-top: 50px;
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: #fff;
    border-radius: 15px;
}
.container form label{
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
	display: block;
	color: purple;
    font-size: 25px;
}
.container form input, select{
	width: 100%;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 14px;
	display: block;
	font-size: 20px;
    outline:none;
}

.container form input[type="submit"]{
	background: green;
	color: #fff;
	border: none;
	border-radius: 14px;
	font-size: 2em;
	cursor: pointer;
	width: 98%;
	margin: 15px;
}

.container form input[type="submit"]:hover{
	background: purple;
}
#error{
    display: block;
    text-align: center;
    font-size: 2em;
    color: red;
}
table{
	width:90%;
	margin:auto;
}
table, td, tr, th{
	border: 1px solid #fff;
	border-collapse: collapse;
	padding: 15px;
}
th{ 
    background: #111;
	color: #fff;
}